body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #777777;
}

code {
  font-family: sans-serif;
}
/* Colors: light, dark, info, success, warning, danger, primary, secondary */
.bg-gn{
  /* background-color: rgb(21, 48, 121); */
  background-color: rgb(21, 48, 121);
}

.card-container{
  /* max-width: 300px; */
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content{
  text-align: center;
  margin-top: 30px;
}

.nav-bar-gn{
  display: flex;
  /* text-align: center; */
  --bs-gutter-x: 1.5rem; 
  --bs-gutter-y: 0;
  /* width: 100%; */
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.card-header{
  font-size: 2em;
}

.user-data{
  background-color: rgb(207, 207, 207);
  margin-left: auto;
  margin-right: auto;
  max-width:fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.active-link{
  color: rgb(234, 21, 21);
}

.navbar-nav{
  /* --bs-nav-link-hover-color: rgb(245, 243, 148); */
  --bs-nav-link-hover-color: rgb(233, 137, 137);
}
.navbar-brand{
  --bs-navbar-brand-hover-color: rgb(233, 137, 137);
  /* color: rgb(182, 182, 182); */
}
.message-w{
  color: green;
}
.message-d{
  color: yellow;
}

.align-right{
  text-align: right;
  margin-right: 10px;
}