#popcorn {
    display: inline-block;
  }
  
  #tooltip {
    background: #20e805;
    color: #643045;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
  }

  #tooltip[data-show] {
    display: block;
  }
  
  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
  
  #arrow {
    visibility: hidden;
  }
  
  #arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }
  
  #tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }
  
  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }
  
  #tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }
  
  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }